main{
    background: var(--bgLogin);
    color: var(--primaryColor);
    width: 24rem;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 16px 24px 12px -9px var(--primaryColor);
}
main h1{
    text-align: center;
    margin: .5rem;
}
main a,main a:visited{
    padding: 1rem;
    color: var(--primaryColor);
    font-weight: 500;
    transition: font-weight 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: font-weight 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: font-weight 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: font-weight 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: font-weight 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
main a:hover{
    font-weight: 800;
}
@media (max-width: 425px) {
    main{
        width: 80%;
        padding: .5rem;
    }
}