@import url('./index.css');
@import url('./css/Toast.css');
@import url('./css/Main.css');
@import url('./css/Card.css');
#root{
    background: var(--bgBody);
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
header{
    padding: .5rem;
}

main{
    width: 75%;
}
footer{
    margin: 2rem;
    padding: 1rem;
    background: var(--cardBG);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}