ul{
    list-style: none;
    padding: 1rem;
}
ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .5rem;
}
li img{
    width: 5rem;
    height: 5rem;
    margin: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
figure{
    display: flex;
}
figure .online{
    width: .8rem;
    height: .8rem;
    position: relative;
    right: 2rem;
    top: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: var(--conect);
}   
