.container-cards{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.container-btn_P{
    margin: 1rem;
}
.container-btn_P p{
    margin: 1rem;
}
.btnGenerator{
    width: 30%;
    background: var(--btnGeneratorBG);
    border: none;
    padding: 1rem;
    color: var(--cardBG);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    cursor: pointer;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}
.btnGenerator:hover{
    color: var(--btnGeneratorBG);
    background: var(--cardBG);
    font-weight: 700;
}